@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-display: "Oswald", sans-serif;
  
  --color-brand-bg: #FFFFFF;
  --color-brand-text: #0F172A;
  --color-brand-muted: #64748B;
  --color-brand-accent: #6C8EBF;
}

body {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-text);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
